body {
    font-family: Roboto;
}

#container {
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    color: white;
    background: #2980e9;
    margin: 0;
    padding: 10px 20px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background: white;
    height:40px;
    line-height:40px;
    color: #666;
}

li:nth-child(2n){
    background: #f7f7f7;
}
.completed {
    color: gray;
    text-decoration: line-through;
}